.calculator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: purple;
    width: 400px;
    height: 600px;
    border-radius: 20px;

}

.screen-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.screen {
    background-color: black;
    border-radius: 10px;
    width: 360px;
    height: 80px;

}